In [3]:
import pandas as pd

In [4]:
series = pd.Series([1, 3, 5, 6, 8])         # create Series data structure
series

0    1
1    3
2    5
3    6
4    8
dtype: int64

In [5]:
data = {
    'apples': [3, 2, 0, 1],
    'oranges': [0, 3, 7, 2],
    'peaches': [2, 4, 6, 8]
}
fruits = pd.DataFrame(data)             # create DataFrame with 3 columns
fruits

   apples  oranges  peaches
0       3        0        2
1       2        3        4
2       0        7        6
3       1        2        8

In [7]:
buyer = pd.DataFrame(data, index=['Tom', 'Isabelle', 'Daisy', 'Blathers'])
buyer

buyer.loc['Tom']

apples     3
oranges    0
peaches    2
Name: Tom, dtype: int64